<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bar-container.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{960,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,34}}</string>
			<key>sourceSize</key>
			<string>{960,34}</string>
		</dict>
		<key>healthbar.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,34},{204,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,26}}</string>
			<key>sourceSize</key>
			<string>{204,26}</string>
		</dict>
		<key>population.png</key>
		<dict>
			<key>frame</key>
                <string>{{480,96},{262,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
                <string>{{0,0},{262,64}}</string>
			<key>sourceSize</key>
                <string>{262,64}</string>
		</dict>
		<key>barbutton.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>chatbox.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,96},{260,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,66}}</string>
			<key>sourceSize</key>
			<string>{260,66}</string>
		</dict>
		<key>chatbtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,34},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>spritesheet.png</string>
		<key>size</key>
		<string>{422,777}</string>
		<key>smartupdate</key>
		<string>:SmartUpdate:0c7d891dccd5629d6b2d8328e601f7d0:98ec969c68102aaee5057a91e4d43fb1:1de88c2a7237d4cdf78de8d8ad4f4c7e$</string>
		<key>textureFileName</key>
		<string>spritesheet.png</string>
	</dict>
</dict>
</plist>
