<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spritesheet.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{422,777}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,777}}</string>
                <key>sourceSize</key>
                <string>{422,777}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{228,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,44}}</string>
                <key>sourceSize</key>
                <string>{228,44}</string>
            </dict>
            <key>parchment.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,292},{422,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,182}}</string>
                <key>sourceSize</key>
                <string>{422,182}</string>
            </dict>
            <key>left-ornament.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,0},{31,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,12}}</string>
                <key>sourceSize</key>
                <string>{31,12}</string>
            </dict>
            <key>right-ornament.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,0},{31,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,12}}</string>
                <key>sourceSize</key>
                <string>{31,12}</string>
            </dict>
            <key>character.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,12},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{124, 46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124, 46}}</string>
                <key>sourceSize</key>
                <string>{124, 46}</string>
            </dict>
            <key>button-disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,952},{54,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,204}}</string>
                <key>sourceSize</key>
                <string>{54,204}</string>
            </dict>
            <key>buttonRevive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,476},{124, 46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124, 46}}</string>
                <key>sourceSize</key>
                <string>{124, 46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{422,777}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c7d891dccd5629d6b2d8328e601f7d0:98ec969c68102aaee5057a91e4d43fb1:1de88c2a7237d4cdf78de8d8ad4f4c7e$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
