<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{687,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,126}}</string>
                <key>sourceSize</key>
                <string>{687,126}</string>
            </dict>
            <key>logosparks.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{687,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,126}}</string>
                <key>sourceSize</key>
                <string>{687,126}</string>
            </dict>
            <key>left-ornament.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,0},{93,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,36}}</string>
                <key>sourceSize</key>
                <string>{93,36}</string>
            </dict>
            <key>right-ornament.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,0},{93,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,36}}</string>
                <key>sourceSize</key>
                <string>{93,36}</string>
            </dict>
            <key>character.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,36},{36,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,63}}</string>
                <key>sourceSize</key>
                <string>{36,63}</string>
            </dict>
            <key>div.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,2178},{375,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,153}}</string>
                <key>sourceSize</key>
                <string>{375,153}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2178},{375,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,153}}</string>
                <key>sourceSize</key>
                <string>{375,153}</string>
            </dict>
            <key>respawn.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1428},{375,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,153}}</string>
                <key>sourceSize</key>
                <string>{375,153}</string>
            </dict>
            <key>scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{0,0}</string>
            </dict>
            <key>instructions.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,36},{48,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,63}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{0,0}</string>
            </dict>
            <key>tilt.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{0,0}</string>
            </dict>
            <key>parchment-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,882},{114,546}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,546}}</string>
                <key>sourceSize</key>
                <string>{114,546}</string>
            </dict>
            <key>parchment-middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,882},{1038,546}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1038,546}}</string>
                <key>sourceSize</key>
                <string>{1038,546}</string>
            </dict>
            <key>parchment-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,882},{114,546}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,546}}</string>
                <key>sourceSize</key>
                <string>{114,546}</string>
            </dict>
            <key>avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,303},{39,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,75}}</string>
                <key>sourceSize</key>
                <string>{39,75}</string>
            </dict>
            <key>facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,224},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,224},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,378},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>note.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,336},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,555},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,516},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,555},{100,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,66}}</string>
                <key>sourceSize</key>
                <string>{100,66}</string>
            </dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,882},{1038,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1038,18}}</string>
                <key>sourceSize</key>
                <string>{1038,18}</string>
            </dict>
            <key>img.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,426},{168,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,90}}</string>
                <key>sourceSize</key>
                <string>{168,90}</string>
            </dict>
            <key>ext-link.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,516},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>moztab.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,204},{118,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,49}}</string>
                <key>sourceSize</key>
                <string>{118,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{1266,2331}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c7d891dccd5629d6b2d8328e601f7d0:98ec969c68102aaee5057a91e4d43fb1:1de88c2a7237d4cdf78de8d8ad4f4c7e$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
