<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{458,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,84}}</string>
                <key>sourceSize</key>
                <string>{458,84}</string>
            </dict>
            <key>logosparks.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{458,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,84}}</string>
                <key>sourceSize</key>
                <string>{458,84}</string>
            </dict>
            <key>left-ornament.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,0},{62,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,24}}</string>
                <key>sourceSize</key>
                <string>{62,24}</string>
            </dict>
            <key>right-ornament.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{62,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,24}}</string>
                <key>sourceSize</key>
                <string>{62,24}</string>
            </dict>
            <key>character.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,24},{24,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,42}}</string>
                <key>sourceSize</key>
                <string>{24,42}</string>
            </dict>
            <key>div.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1452},{250,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,102}}</string>
                <key>sourceSize</key>
                <string>{250,102}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1452},{250,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,102}}</string>
                <key>sourceSize</key>
                <string>{250,102}</string>
            </dict>
            <key>respawn.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,952},{250,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,102}}</string>
                <key>sourceSize</key>
                <string>{250,102}</string>
            </dict>
            <key>scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{0,0}</string>
            </dict>
            <key>instructions.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,24},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{32,42}</string>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{0,0}</string>
            </dict>
            <key>tilt.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{0,0}</string>
            </dict>
            <key>parchment-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,588},{76,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,364}}</string>
                <key>sourceSize</key>
                <string>{76,364}</string>
            </dict>
            <key>parchment-middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,588},{692,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,364}}</string>
                <key>sourceSize</key>
                <string>{692,364}</string>
            </dict>
            <key>parchment-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,588},{76,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,364}}</string>
                <key>sourceSize</key>
                <string>{76,364}</string>
            </dict>
            <key>avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,202},{26,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,50}}</string>
                <key>sourceSize</key>
                <string>{26,50}</string>
            </dict>
            <key>facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,224},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,224},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,252},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>note.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,224},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,370},{100,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,20}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>top.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,344},{100,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,20}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,370},{100,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,44}}</string>
                <key>sourceSize</key>
                <string>{100,44}</string>
            </dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,588},{692,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,12}}</string>
                <key>sourceSize</key>
                <string>{692,12}</string>
            </dict>
            <key>img.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,284},{112,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,60}}</string>
                <key>sourceSize</key>
                <string>{112,60}</string>
            </dict>
            <key>ext-link.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,344},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>moztab.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,204},{118,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,49}}</string>
                <key>sourceSize</key>
                <string>{118,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{422,777}</string>
            <key>smartupdate</key>
            <string>:SmartUpdate:0c7d891dccd5629d6b2d8328e601f7d0:98ec969c68102aaee5057a91e4d43fb1:1de88c2a7237d4cdf78de8d8ad4f4c7e$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
