

@media screen and (min-width: 1501px) {



body.upscaled.game {background:#000;}
    .game #logo {display:none;-moz-animation:none;-webkit-animation:none;-o-animation:none;-ms-animation:none;animation:none;}
        
    #logo, #logosparks, .left-ornament, .right-ornament, #character, #character div, .button, .button div, #respawn, #scroll, #instructions, .icon, #tilt, .parchment-left, .parchment-middle, .parchment-right, .avatar, .facebook, .twitter, .close, #note, .ribbon .top, .ribbon .bottom, #about .img, .ext-link {background:url('../img/1/spritesheet.png');image-rendering:-moz-crisp-edges; image-rendering:-webkit-optimize-contrast;}
    
    #moztab {height:49px;width:118px;position:fixed;top:0;right:15%;background:url('../img/1/spritesheet.png') no-repeat -229px -204px;display:block;}

    #vignetting {height:100%;width:100%;position:absolute;top:0;left:0;pointer-events:none;}
    #logosparks {display:block;position:absolute;top:0;left:0;}
    #parchment, #parchment input {font-family:'GraphicPixel';}
    #parchment input {width:50%;background:rgba(0,0,0,0.05);text-align:center;-moz-animation:glow 0.5s linear infinite alternate;-webkit-animation:glow 0.5s linear infinite alternate;-o-animation:glow 0.5s linear infinite alternate;-ms-animation:glow 0.5s linear infinite alternate;color:#eee;}
    #parchment input:focus {-moz-animation:none;-webkit-animation:none;-o-animation:none;-ms-animation:none;animation:none;color:#fff;background:rgba(0,0,0,0.1);border-color:rgba(0,0,0,0.3);}

    #character div {-moz-transition:0.4s opacity linear;-webkit-transition:0.4s opacity linear;-o-transition:0.4s opacity linear;-ms-transition:0.4s opacity linear;transition:0.4s opacity linear;}

    .play div {position:absolute;top:0;left:0;opacity:1;-moz-transition:0.4s linear opacity;-webkit-transition:0.4s linear opacity;-o-transition:0.4s linear opacity;-ms-transition:0.4s linear opacity;transition:0.4s linear opacity}
    .play.disabled div {opacity:0;pointer-events:none;}
    .play img {display:none;}
    .play.loading img {display:block;position:absolute;top:54%;left:50%;}

    #mask {height:100%;width:100%;position:fixed;top:0;left:0;background:rgba(20,20,20,1);opacity:1;z-index:20;-moz-transition:0.5s opacity linear;-webkit-transition:0.5s opacity linear;-o-transition:0.5s opacity linear;-ms-transition:0.5s opacity linear;transition:0.5s opacity linear;pointer-events:none;}

    #bar-container {background:url('../img/1/barsheet.png');image-rendering:-moz-crisp-edges;position:relative;width:100%;z-index:10;}
    #healthbar {background:url('../img/1/barsheet.png');image-rendering:-moz-crisp-edges;position:absolute;}
	#hitpoints {background:#d83939;-moz-transition:.5s width ease;-webkit-transition:.5s width ease;-o-transition:.5s width ease;-ms-transition:.5s width ease;transition:.5s width ease;}
    #hitpoints.white {-moz-animation:flash 0.5s linear 1;-webkit-animation:flash 0.5s linear 1;-o-animation:flash 0.5s linear 1;-ms-animation:flash 0.5s linear 1;animation:flash 0.5s linear 1;}
	#hitpoints.invincible {-moz-animation:invincible 0.3s steps(3, end) alternate infinite;-webkit-animation:invincible 0.3s steps(3, end) alternate infinite;-o-animation:invincible 0.3s steps(3, end) alternate infinite;-ms-animation:invincible 0.3s steps(3, end) alternate infinite;}
    
    #notifications {position:absolute;left:50%;text-align:center;font-family:'GraphicPixel';overflow:hidden;}
    #notifications div {position:absolute;-moz-transition:none;-webkit-transition:none;top:0;width:100%;}
    #notifications div.top {-moz-transition:0.5s top ease;-webkit-transition:0.5s top ease;-o-transition:0.5s top ease;-ms-transition:0.5s top ease;transition:0.5s top ease;}
    #notifications div.top #message1 {opacity:0;-moz-transition:0.2s opacity linear;-webkit-transition:0.2s opacity linear;-o-transition:0.2s opacity linear;-ms-transition:0.2s opacity linear;transition:0.2s opacity linear;}
    #notifications span {display:block;text-align:center;width:100%;opacity:1;-moz-user-select:none;-webkit-user-select:none;}
    
    #playercount {font-family:'GraphicPixel';color:#e3e3e3;position:absolute;}
    #playercount:hover {cursor:pointer;color:#FCE045;}
    #population {background:url('../img/1/barsheet.png');image-rendering:-moz-crisp-edges;position:absolute;font-family:'GraphicPixel';color:#fff;text-align:center;opacity:0;pointer-events:none;-moz-transition:0.2s opacity linear, 0.2s height ease;-webkit-transition:0.2s opacity linear, 0.2s height ease;-o-transition:0.2s opacity linear, 0.2s height ease;-ms-transition:0.2s opacity linear, 0.2s height ease;transition:0.2s opacity linear, 0.2s height ease;height:0;overflow:hidden;}
    #population span:nth-child(1) {color:#FCE045;}
    #population.visible {opacity:1;pointer-events:auto;}
    
    .barbutton {background:url('../img/1/barsheet.png');image-rendering:-moz-crispt-edges;position:absolute;}
    
    #chatbox {background:url('../img/1/barsheet.png');image-rendering:-moz-crisp-edges;position:absolute;left:50%;z-index:5;-moz-transition:0.2s bottom ease;-webkit-transition:0.2s bottom ease;-o-transition:0.2s bottom ease;-ms-transition:0.2s bottom ease;transition:0.2s bottom ease;}
    .bubble p {-moz-user-select:none;-webkit-user-select:none;}
    
    #instructions {position:absolute;top:50%;left:50%;z-index:1000;font-family:'GraphicPixel';pointer-events:none;opacity:0;-moz-transition:0.25s opacity linear;-webkit-transition:0.4s top ease, 0.4s opacity linear;-o-transition:0.4s top ease, 0.4s opacity linear;-ms-transition:0.4s top ease, 0.4s opacity linear;transition:0.4s top ease, 0.4s opacity linear;}
    #instructions.active, #achievements.active {opacity:1;pointer-events:auto;}
    
    #weapon, #armor {image-rendering:-moz-crisp-edges;}

    #achievements, #achievements li, .coin, #achievement-notification, #coinsparks, .achievement-sharing a, #previous, #next {background:url('../img/1/achievements.png');image-rendering:-moz-crisp-edges;}
    #achievements {font-family:'GraphicPixel'; position:absolute;top:50%;left:50%;z-index:1000;opacity:0;pointer-events:none;-moz-transition:0.25s opacity linear;-webkit-transition:0.4s top ease, 0.4s opacity linear;-o-transition:0.4s top ease, 0.4s opacity linear;-ms-transition:0.4s top ease, 0.4s opacity linear;transition:0.4s top ease, 0.4s opacity linear;}
    #achievements li {clear:both;position:relative;}
    #achievements li .coin, #achievements li .achievement-name {float:left;}
    #achievements li .coin {opacity:0;}
    #achievements li.unlocked .achievement-name {color:#fce045;}
    #achievements li.unlocked .coin {opacity:1;}
    #achievements .achievement-name {color:#fff;}
    #achievements .achievement-description {float:right;width:65%;}
    #achievement-notification {position:absolute;z-index:8;bottom:0;left:50%;text-align:center;font-family:'GraphicPixel';pointer-events:none;-moz-transition:0.3s height ease;-webkit-transition:0.3s height ease;-o-transition:0.3s height ease;-ms-transition:0.3s height ease;}
    #achievement-notification .name, #achievement-notification .title {opacity:0;-moz-transition:0.3s opacity linear;-webkit-transition:0.3s opacity linear;-o-transition:0.3s opacity linear;-ms-transition:0.3s opacity linear;transition:0.3s opacity linear;}
    #achievement-notification.active .name, #achievement-notification.active .title {opacity:1;}
    #achievement-info {overflow:hidden;height:100%;}
    .achievement-sharing {position:absolute;display:none;}
    #achievements li.unlocked:hover .achievement-sharing {display:block;}
    .achievement-sharing a {display:block;float:left;}
    
	#bubbles a {pointer-events:auto;text-decoration:none;color:#fcda5c;}

    #create-new span:hover, #cancel span:hover {cursor:pointer;color:#d83939;}
    #create-new span span {color:#b2af9b;}
    #create-new span span:hover {color:#b2af9b;}
    #playername {color:#fff;}

    #credits, #loadcharacter, #confirmation, #death, #error, #about {position:absolute;left:50%;text-align:center;font-family:'GraphicPixel', sans-serif;z-index:1000;}
    
    #playerimage {image-rendering: -moz-crisp-edges; image-rendering: -webkit-optimize-contrast;}
    
    #parchment p {font-family:'GraphicPixel';}
    
    #credits, #death, #about {top:50%;}
    .intro #credits, .intro #about {top:55%;}
    #credits h1 a {color:#fcda5c;text-decoration:none;}
    #authors div a {display:block;color:#fff;text-decoration:none;}
    #authors div a:hover, #credits h1 a:hover {color:#93C1FF;}
    #seb {clear:both;}

    #portrait {display:none;}

    #about .link a:hover {color:#d83939;}

    footer {font-family:'GraphicPixel';position:absolute;bottom:5%;left:0;text-align:center;width:100%;color:#c6c0a3;-moz-transition:0.2s opacity linear;-webkit-transition:0.2s opacity linear;-o-transition:0.2s opacity linear;-ms-transition:0.2s opacity linear;transition:0.2s opacity linear;}
    .upscaled.game footer {color:#8a8a8a;}
    
    .intro footer {opacity:1;}
    footer:hover {opacity:1;}
    footer div  {display:inline-block;}
    #sharing a {display:block;float:right;background-size:844px;position:relative;top:-2px;}
    #sharing .facebook {height:22px;width:22px;background-position:-822px -224px;margin:0 12px 0 12px;}
    #sharing .facebook:hover {background-position:-822px -224px;}
    #sharing .twitter {height:22px;width:32px;background-position:-770px -224px;margin:0 12px 0 0;}
    #sharing .twitter:hover {background-position:-770px -224px;}
    #sharing .gplus {height:22px;width:22px;background:url('../img/common/gplus.png');margin:0 12px 0 0px;}
    #credits-link span {display:inline-block;margin-left:12px;}
    #credits-link span:hover {color:#fcda5c;cursor:pointer;}
    
    #sharing a:hover {-moz-transform:scale(1.2);-webkit-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);}
    #sharing a:active {-moz-transform:scale(1);-webkit-transform:scale(1);-o-transform:scale(1);transform:scale(1);}

    .close {position:absolute;z-index:20000;}
    .close:hover {cursor:pointer;}
    
    .ribbon {position:absolute;}
    .ribbon:hover {cursor:pointer;}
    .ribbon .top {-moz-transition:0.25s height ease;-webkit-transition:0.25s height ease;-o-transition:0.25s height ease;-ms-transition:0.25s height ease;transition:0.25s height ease;}
    
	.bubble {background:rgba(45,45,45,0.8);padding:0px 12px 0px 12px;border-radius:8px;color:rgba(255,255,255,0.8);display:inline-block;text-align:center;position:absolute;}
	.thingy {height:10px;width:11px;background:url('../img/common/thingy.png');margin:0 auto;margin-top:-10px;top:10px;position:relative;}
    
    .alert {height:50px;background:#d83939;width:100%;color:#eee;font-size:20px;font-family:'GraphicPixel', arial, sans-serif;text-align:center;line-height:50px;border-bottom:1px solid #000;}

    #instructions, #achievements, #lists, #about, #credits, .ribbon, .play, .play div, .barbutton {-webkit-tap-highlight-color:transparent;}
    #nameinput::-webkit-input-placeholder  {color:#fff;}

    #resize-check {position:absolute;height:0;top:0;left:0;-moz-transition:0.001s height ease;-webkit-transition:0.001s height ease;-o-transition:0.001s height ease;-ms-transition:0.001s height ease;transition:0.001s height ease;}

    #death p em {display:block;font-style:normal;}

/* Magic Parchment */

    .parchment-left {position:absolute;top:0;left:0%;}
    .parchment-right {position:absolute;top:0;right:0%;}
    .parchment-middle {position:absolute;left:50%;top:0;}
    .animate .parchment-left {-moz-animation:parchleft 1s ease 1;-webkit-animation:parchleft 1s ease 1;-o-animation:parchleft 1s ease 1;-ms-animation:parchleft 1s ease 1;animation:parchleft 1s ease 1;}
    .animate .parchment-right {-moz-animation:parchright 1s ease 1;-webkit-animation:parchright 1s ease 1;-o-animation:parchright 1s ease 1;-ms-animation:parchright 1s ease 1;animation:parchright 1s ease 1;}

    #credits, #createcharacter, #loadcharacter, #confirmation, #death, #error, #about {opacity:0;pointer-events:none;-moz-transition:none;-webkit-transition:none;-o-transition:none;-ms-transition:none;transition:none;}
    .credits #credits, .createcharacter #createcharacter, .loadcharacter #loadcharacter, .confirmation #confirmation, .death #death, .error #error, .about #about {opacity:1;pointer-events:auto;-moz-transition:0.5s opacity linear;-webkit-transition:0.5s opacity linear;-o-transition:0.5s opacity linear;-ms-transition:0.5s opacity linear;transition:0.5s opacity linear;}

/* States & Transitions */

    #intro {-moz-transition:0.4s opacity linear;-webkit-transition:0.4s opacity linear;-o-transition:0.4s opacity linear;-ms-transition:0.4s opacity linear;transition:0.4s opacity linear;}
    #mask, #logo, #parchment {opacity:0;}
    .intro #logo, .intro #parchment {opacity:1;}

    .game #confirmation, .game #loadcharacter, .game #createcharacter, .game #error {display:none;}

    .game #parchment {z-index:0;-moz-transition:0.5s opacity linear 0.5s, 0s z-index linear 1s;-webkit-transition:0.5s opacity linear 0.5s, 0s z-index linear 1s;-o-transition:0.5s opacity linear 0.5s, 0s z-index linear 1s;-ms-transition:0.5s opacity linear 0.5s, 0s z-index linear 1s;transition:0.5s opacity linear 0.5s, 0s z-index linear 1s;top:50%;}
    .game #credits, .game #death, .game #about {opacity:0;-moz-transition:0s opacity linear 0s;-webkit-transition:0s opacity linear 0s;-o-transition:0s opacity linear 0s;-ms-transition:0s opacity linear 0s;transition:0s opacity linear 0s;}
    .game.credits #credits, .game.death #death, .game.about #about {opacity:1;-moz-transition:0.5s opacity linear 0.5s;-webkit-transition:0.5s opacity linear 0.5s;-o-transition:0.5s opacity linear 0.5s;-ms-transition:0.5s opacity linear 0.5s;transition:0.5s opacity linear 0.5s;}
    .game.credits #parchment, .game.death #parchment, .game.about #parchment {opacity:1;-moz-transition:0.5s opacity linear 0s, 0s z-index linear 0s;-webkit-transition:0.5s opacity linear 0s, 0s z-index linear 0s;-o-transition:0.5s opacity linear 0s, 0s z-index linear 0s;-ms-transition:0.5s opacity linear 0s, 0s z-index linear 0s;transition:0.5s opacity linear 0s, 0s z-index linear 0s;z-index:200;}
    .game .parchment-left {-moz-transition:0.5s left ease;-webkit-transition:0.5s left ease;-o-transition:0.5s left ease;-ms-transition:0.5s left ease;transition:0.5s left ease;left:41%;}
    .game .parchment-right {-moz-transition:0.5s right ease;-webkit-transition:0.5s right ease;-o-transition:0.5s right ease;-ms-transition:0.5s right ease;transition:0.5s right ease;right:41%;}
    .game .parchment-middle {-moz-transition:0.5s width ease, 0.5s margin-left ease, 0.5s background-position ease;-webkit-transition:0.5s width ease, 0.5s margin-left ease, 0.5s background-position ease;-o-transition:0.5s width ease, 0.5s margin-left ease, 0.5s background-position ease;-ms-transition:0.5s width ease, 0.5s margin-left ease, 0.5s background-position ease;transition:0.5s width ease, 0.5s margin-left ease, 0.5s background-position ease;width:0px;margin-left:0px;}
    .game.credits .parchment-left, .game.death .parchment-left, .game.about .parchment-left {left:0%;}
    .game.credits .parchment-right, .game.death .parchment-right, .game.about .parchment-right {right:0%;}

    #container {z-index:100;background:rgba(0,0,0,0.2);-moz-transition:1s opacity linear 0.5s;-webkit-transition:1s opacity linear 0.5s;-o-transition:1s opacity linear 0.5s;-ms-transition:1s opacity linear 0.5s;transition:1s opacity linear 0.5s;}
    .intro #container {opacity:0;pointer-events:none;}
    .game #container {opacity:1;}

    #logo, #parchment {-moz-transition:0.5s opacity linear;-webkit-transition:0.5s opacity linear;-o-transition:0.5s opacity linear;-ms-transition:0.5s opacity linear;transition:0.5s opacity linear;}

    






		.upscaled #logo, .upscaled #logosparks, .upscaled .left-ornament, .upscaled .right-ornament, .upscaled #character, .upscaled #character div, .upscaled .button, .upscaled .button div, .upscaled #respawn, .upscaled #scroll, .upscaled #instructions, .upscaled .icon, .upscaled #tilt, .upscaled .parchment-left, .upscaled .parchment-middle, .upscaled .parchment-right, .upscaled .avatar, .upscaled .facebook, .upscaled .twitter, .upscaled .close, .upscaled .ribbon .top, .upscaled .ribbon .bottom, .upscaled #about .img, .upscaled .ext-link {background-image:url('../img/2/spritesheet.png');}
	    .upscaled #bar-container, .upscaled #healthbar, .upscaled .barbutton, .upscaled #chatbox, .upscaled #population {background-image:url('../img/2/barsheet.png');}
	    .upscaled #achievements, .upscaled #achievements li, .upscaled .coin, .upscaled #achievement-notification, .upscaled #coinsparks, .upscaled .achievement-sharing a, .upscaled #previous, .upscaled #next {background:url('../img/2/achievements.png');}

        body {background:-moz-radial-gradient(rgba(0,0,0,0) 40%,rgba(0,0,0,1) 125%), url('../img/1/wood.png') repeat, #000; background-size:auto, 256px;}        
        body {background:-webkit-gradient(radial, center center, 240, center center, 800, from(rgba(0,0,0,0)), to(rgba(0,0,0,1))), url('../img/2/wood.png') repeat, #000; background-size:auto, 256px;}
        #logo, #logosparks, .left-ornament, .right-ornament, #character, #character div, .button, .button div, #respawn, #scroll, #instructions, .icon, .avatar, .close, #note, .ribbon .top, .ribbon .bottom, #about .img, .ext-link {background-size:844px auto;}
        #logo {height:84px;width:458px;position:absolute;top:10%;left:50%;margin-left:-229px;z-index:3;}
        #logosparks {width:458px;height:84px;z-index:4;-moz-animation:logo2 .8s steps(6, end) infinite;-webkit-animation:logo2 .8s steps(6, end) infinite;-o-animation:logo2 .8s steps(6, end) infinite;-ms-animation:logo2 .8s steps(6, end) infinite;}
        #parchment, #loadcharacter, #confirmation, #error {width:844px;height:364px;position:absolute;top:55%;left:50%;margin-left:-422px;margin-top:-182px;font-size:20px;text-align:center; z-index:2;}
        #parchment h1 {margin-top:40px;font-weight:normal;}
        .left-ornament, .right-ornament {height:24px;width:62px;display:inline-block;margin:0 15px;position:relative;top:7px;}
        .left-ornament {background-position:-708px 0;}
        .right-ornament {background-position:-770px 0;}
        #character {height:42px;width:24px;margin:0 auto;background-position:-708px -24px;margin-top:30px;position:relative;}
        #character div {height:42px;width:24px;position:absolute;top:0;left:0;background-position:-732px -24px;opacity:1;}
        #character.disabled div {opacity:0;pointer-events:none;}
        #parchment input {margin-top:20px; padding:0 10px; border:2px dashed #b2af9b; font-size:20px;border-radius:6px;height:41px;}
        .button {height:102px;width:250px;background-position:-458px -204px;margin:20px auto 0 auto;position:relative;}
        .play div {height:102px;width:250px;background-position:-458px 0px;}
        .play div:active {background-position:-458px -306px;}
        .play.loading div {background-position:-454px -1452px;}
        .play.loading img {margin-top:-12px;margin-left:-12px;height:24px;width:24px;}
        .stroke, .achievement-name {text-shadow:2px 2px 0 #373737, 2px -2px 0 #373737, 0 2px 0 #373737, 2px 0 0 #373737, -2px 2px 0 #373737, -2px -2px 0 #373737, 0 -2px 0 #373737, 0 2px 0 #373737, -2px 0 0 #373737;}
        
        #loadcharacter h1, #confirmation h1, #error h1 {margin-top:20px;}
        #playername {margin-top:10px;}
        .loadcharacter .play, .confirmation .delete {margin:10px auto 10px auto;}
        #confirmation p, #error p {font-size:20px;margin-top:40px;line-height:30px;}
        #error p {width:70%;margin:40px auto 0;}
        .button.delete {background-position:-458px -102px;}
        .button.delete:active {background-position:0 -1452px;}
        
		#container {width:980px;margin:0 auto;position:absolute;top:50%;margin-top:-252px;left:50%;margin-left:-490px;}
		#canvasborder {padding:10px;background:url('../img/2/border.png') no-repeat;}
		#canvas {width:100%;height:448px;}
		#fade {width:960px;height:448px;top:10px;left:10px;}

		#instructions {height:344px;width:834px;background-position:0 -1054px;margin-left:-416px;margin-top:-186px;color:#373737;}
		#instructions h1 {font-size:30px;text-align:center;margin:40px 0;}
        #instructions ul {font-size:20px;margin-top:40px;}
        #instructions ul li {margin:20px 0; clear:left;}
        #instructions li:nth-child(1) span {height:58px;width:30px;background-position:-756px -24px; display:block;float:left;margin: 0 20px 6px 40px;position: relative;top: -26px;}
        #instructions li:nth-child(2) span {height:32px;width:26px;background-position:-786px -24px; display:block;float:left;margin: 0 24px 28px 40px;position: relative;top: -6px;}
        #instructions li:nth-child(3) span {height:42px;width:32px;background-position:-812px -24px; display:block;float:left;margin: 0 18px 0 40px;position: relative;top: -12px;}
        #instructions p {text-align:center;font-family:'GraphicPixel';font-size:20px;clear:left;margin-top:20px;}

        #playerimage {height: 64px; width: 64px;}
        
        .close {height:32px;width:32px;top:-8px;right:-10px;background-position:-708px -252px;}
        .close:hover {background-position:-740px -252px;}
        .close:active {background-position:-772px -252px;}
        
        .ribbon {width:36px;right:20px;top:8px;}
        .ribbon .top {width:100%;height:12px;background-position:-762px -344px;}
        .ribbon .bottom {width:100%;height:44px;background-position:-762px -370px;}
        .ribbon:hover .top {height:20px;}
        .ribbon:hover .bottom {background-position:-798px -370px;}
        #createcharacter .ribbon {right:20px;top:8px;}
        #loadcharacter .ribbon {right:99px;top:-8px;}
        
        /*Death & Respawn*/
        #death p {font-size:20px;margin-top:90px;}
        #death p em {margin-top:30px;}
		#respawn {width:250px;height:102px;margin:40px auto 0 auto;background-position: 0 -952px;}
		#respawn:active {background-position:-250px -952px;}
		
		/*Bubbles*/
		#bubbles {width:960px;height:448px;margin-bottom:-448px;position:relative;top:-448px;pointer-events:none;}
		p {font-family:arial, sans-serif;font-size:12px;margin:0;padding:0;line-height:35px;}
	    .bubble p {font-family:"GraphicPixel"; font-size:14px;}
	    
	    /*GUI Bar*/
		#bar-container {height:34px;top:-2px;background-size:960px;}

		#healthbar {height:26px;background-position:0 -34px;width:204px;top:6px;background-size:960px;z-index:20;}
		#hitpoints {width:0px;height:22px;top:8px;left:22px;z-index:10;position:absolute;}

        #armor, #weapon {width:32px;height:32px;position:absolute;background-size:192px;background-position:-64px;}
        #weapon {left:208px;top:2px;}
        #armor {left:242px;top:2px;}

        #notifications {width:392px;margin-left:-196px;font-size:16px;color:#eee;top:2px;height:30px;}
        #notifications div.top {top:-30px;}
        #notifications span {line-height:30px;height:30px;}
        .windows #notifications span {line-height:34px;}

        #playercount {font-size:16px;left:717px;top:10px;width:114px;text-align:center;}
        #population {background-size:960px;right:70px;bottom:44px;width:262px;background-position:-480px -96px;font-size:14px;line-height:20px;}
        #population.visible {height:64px;}
        #instance-population {padding-top:12px;}

        .barbutton {background-size:960px;height:30px;width:28px;}
        #chatbutton {background-position:-204px -34px;top:2px;left:840px;}
        #chatbutton:hover {background-position:-232px -34px;}
        #chatbutton.active {background-position:-260px -34px;}
        #achievementsbutton {background-position:-288px -34px;top:2px;left:870px;}
        #achievementsbutton:hover, #achievementsbutton.blink:hover {background-position:-316px -34px;}
        #achievementsbutton.blink {background-position:-576px -34px;}
        #achievementsbutton.active {background-position:-344px -34px;}
        #helpbutton {background-position:-372px -34px;top:2px;left:900px;}
        #helpbutton:hover {background-position:-400px -34px;}
        #helpbutton.active {background-position:-428px -34px;}
        #mutebutton {background-position:-456px -34px;top:2px;left:930px;}
        #mutebutton:hover {background-position:-484px -34px;}
        #mutebutton.active {background-position:-512px -34px;}

		#chatbox {height:32px;width:788px;background-size:960px;background-position:0 -64px;margin-left:-394px;bottom:12px;}
		#chatbox.active {bottom:44px;}
		#chatbox input {font-size:20px;color:#eee;background:none;width:90%;border:0;margin-left:2%;padding:7px 0;}
		
		/*Credits*/
        #credits, #death, #about {width:844px;height:364px;margin-left:-422px;margin-top:-182px;font-size:20px;}
        .parchment-left, .parchment-right, .parchment-middle {background-size:844px;}
        .parchment-left {width:76px;height:364px;background-position:0 -588px;}
        .parchment-right {width:76px;height:364px;background-position:-768px -588px;}
        .parchment-middle {height:364px;background-position:-76px -588px;width:692px;margin-left:-346px;}

        #credits h1, #about h1 {margin-top:25px;font-weight:normal;}
        #credits h1 a {font-size:24px;}
        .game #credits h1, .game #about h1 {margin-top:40px;}
        #credits h1 span.title {max-width:200px;display:inline-block;line-height:26px;margin-top:-60px;position:relative;top:24px;}
        #authors {clear:both;margin-top:70px;}
        #guillaume, #franck {width:47%;line-height:26px;}
        #guillaume {float:left;text-align:right;}
        #franck {float:right;text-align:left;}
        .avatar {height:50px;width:26px;}
        #guillaume .avatar {float:right;background-position:-708px -202px;margin-left:40px;}
        #franck .avatar {float:left;background-position:-734px -202px;margin-right:40px;}
        #seb {margin:180px auto 0 auto;width:52%;color:#373737;font-size:16px;}
        #seb a {color:#373737;text-decoration:none;}
        #seb a:hover {color:#397cd8;}
        #note {float:left;background-position:-802px -224px;height:22px;width:20px;}
        #close-credits {margin:20px auto 0 auto;text-align:center;clear:both;font-size:14px;}
        #sharing {width:202px;}
        
        /*About*/
        #about h1 span.title {max-width:400px;display:inline-block;line-height:24px;margin-top:-90px;position:relative;}
        #close-about {margin:153px auto 0 auto;text-align:center;clear:both;font-size:14px;color:#373737;}
        #about #game-desc {font-size:18px;text-align:center;max-width:70%;margin:25px auto;line-height:24px;}
        #about .left p, #about .right p {font-size:14px;text-align:left;line-height:20px;padding:0;margin-top:-8px;}
        .windows #about .left p, .windows #about .right p {font-size:13px;text-align:left;line-height:20px;padding:0;margin-top:-10px;}
        #about .left {width:31%;float:left;margin-left:12%;}
        #about .right {width:37%;float:right;margin-right:12%;}
        #about .left .img {height:60px;width:54px;float:left;background-position:-708px -344px;margin-right:14px;}
        #about .right .img {height:60px;width:112px;float:left;background-position:-708px -284px;margin-right:14px;}
        #about .link {clear:both;font-size:14px;margin:20px 0;display:block;text-align:left;line-height:10px;}
        #about .link a {color:#2e7fdd;text-decoration:none;}
        #about .link .ext-link {height:12px;width:12px;background-position:-798px -344px;display:block;float:left;margin-right:7px;}
        
        .animate .parchment-middle {-moz-animation:parchmiddle2 1s ease 1;-webkit-animation:parchmiddle2 1s ease 1;-o-animation:parchmiddle2 1s ease 1;-ms-animation:parchmiddle2 1s ease 1;}

        .game .parchment-middle {background-position: -422px -588px;}
        .game.credits .parchment-middle, .game.death .parchment-middle, .game.about .parchment-middle {width:692px;margin-left:-346px;background-position: -76px -588px;}
        
	    footer {font-size:16px;}
        #resize-check {height:2px;}











	}
